{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.45 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.45 | round: 0 }}px;
  }

  @media screen and (min-width: 544px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.60 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.60 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  if page.handle == "pacificfighters"
   assign page = "pf"
  endif
   
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

{% unless product.title contains "T43 PBY Catalina" %}
<div
  class="color-{{ section.settings.color_scheme }} isolate gradient {% unless section.settings.collection != blank %}hidden{% endunless %}"
>
  <div
    class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width {{ section.settings.content_position_alignment }}--content">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank
        or section.settings.show_description
        and section.settings.collection.description != empty
      -%}
        <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if section.settings.show_description -%}
            {{ section.settings.collection.description }}
          {%- else -%}
            {{ section.settings.description -}}
          {%- endif %}
        </div>
      {%- endif -%}
    </div>

    <div class="{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if section.settings.full_width == false %} page-width-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div
        class="section--collection-products-slider {% if section.settings.layout_style == 'style-two' %}collection-products-style-two{% endif %}"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": true, "initialIndex": 2{% if section.settings.slider_wraparound %}, "wrapAround": true{% endif %} }'
      >
        {% assign skip_card_product_styles = false %}
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div
            class="section--collection-products-slider__item"
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add,
              enable_shop_now_btn: section.settings.enable_shop_now_btn
            %}
          </div>
          {%- assign skip_card_product_styles = true -%}
        {%- else -%}
          {%- for i in (1..section.settings.columns_desktop) -%}
            <div
              class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% liquid
                assign ridx = forloop.rindex
                case ridx
                  when 5
                    assign ridx = 1
                  when 6
                    assign ridx = 2
                endcase
              %}
              {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
              {% render 'card-product',
                show_vendor: section.settings.show_vendor,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                placeholder_image: placeholder_image,
                enable_shop_now_btn: section.settings.enable_shop_now_btn
              %}
            </div>
          {%- endfor -%}
        {%- endfor -%}
      </div>
    </div>

    {%- if section.settings.progress_bar -%}
      <div class="page-width">
        <div class="progress__bottom">
          <div class="progress">
            <div class="progress-bar" style="width: 50%;"></div>
          </div>
        </div>
      </div>
      <style>
        .section--collection-products .progress {
          margin-top: 70px;
        }
        .section--collection-products .progress-bar {
          display: block;
        }
        @media(max-width: 749px) {
          .section--collection-products .progress {
            margin-top: 50px;
          }
        }
      </style>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          featuredProductsFlickityProgressBar();
        });
        function featuredProductsFlickityProgressBar(){
          var slider = document.querySelector('.section--collection-products-slider');
          var flkty = new Flickity(slider, {
            // options
            prevNextButtons: true,
            pageDots: true,
            contain: true,
            // other options as needed
          });
          
          // Select the carousel and progress bar elements
          var progressBar = document.querySelector('.section--collection-products .progress-bar');
        
          // Flickity provides an event 'scroll' on its element
          flkty.on('scroll', function(progress) {
              // Update the width of the progress bar
              progressBar.style.width = progress * 100 + '%';
          });
        }
      </script>
    {%- endif -%}

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a
          href="{{ section.settings.collection.url }}"
          class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
    {% if section.settings.image_shape == 'arch' %}
      {% render 'mask-arch' %}
    {%- endif -%}
  </div>
</div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.collection-products.name",
  "tag": "section",
  "class": "section section--collection-products sec_collection_products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.collection-products.settings.title.default",
      "label": "t:sections.collection-products.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.collection-products.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.collection-products.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.collection-products.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.collection-products.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.collection-products.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.collection-products.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "layout_style",
      "label": "t:sections.collection-products.settings.layout_style.label",
      "options": [
        {
          "value": "style-one",
          "label": "t:sections.collection-products.settings.layout_style.options__1.label"
        },
        {
          "value": "style-two",
          "label": "t:sections.collection-products.settings.layout_style.options__2.label"
        }
      ],
      "default": "style-one"
    },
    {
      "type": "header",
      "content": "t:sections.collection-products.settings.content_header.content_position"
    },
    {
      "type": "select",
      "id": "content_position_alignment",
      "label": "t:sections.collection-products.settings.content_position_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collection-products.settings.content_position_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.collection-products.settings.content_position_alignment.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.collection-products.settings.content_position_alignment.right.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.collection-products.settings.collection.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.collection-products.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider_wraparound",
      "label": "t:sections.collection-products.settings.slider_wraparound.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "progress_bar",
      "label": "t:sections.collection-products.settings.progress_bar.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.collection-products.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.collection-products.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.collection-products.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.collection-products.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.collection-products.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.collection-products.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.collection-products.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.collection-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.collection-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.collection-products.settings.show_rating.label",
      "info": "t:sections.collection-products.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
        "type": "checkbox",
        "id": "enable_shop_now_btn",
        "default": false,
        "label": "t:sections.collection-products.settings.show_shop_btn.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 35
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 35
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-products.presets.name"
    }
  ]
}
{% endschema %}
