{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign collection_videos = collection.metafields.custom.collection_videos.value %}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="collection_top-banner">
      {% for collection_banner in collection.metafields.custom.featured_collection_list_.value %}
        <div class="collection__banner-item">
          <a href="{{ collection_banner.url }}">
            {% if collection_banner.featured_image %}
              <div class="collection__banner">
                <img
                  srcset="
                    {%- if collection_banner.featured_image.width >= 165 -%}{{ collection_banner.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 330 -%}{{ collection_banner.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 535 -%}{{ collection_banner.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 750 -%}{{ collection_banner.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 1000 -%}{{ collection_banner.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 1500 -%}{{ collection_banner.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if collection_banner.featured_image.width >= 3000 -%}{{ collection_banner.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {{ collection_banner.featured_image | image_url }} {{ collection_banner.featured_image.width }}w
                  "
                  src="{{ collection_banner.featured_image | image_url: width: 1500 }}"
                  sizes="
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                    (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                    calc(100vw - 3rem)
                  "
                  alt="{{ collection_banner.featured_image.alt | escape }}"
                  height="{{ collection_banner.featured_image.height }}"
                  width="{{ collection_banner.featured_image.width }}"
                  loading="lazy"
                  class="motion-reduce"
                >
              </div>
            {% endif %}
            <div class="collection__info">
              <div class="collection__title">{{ collection_banner.title }}</div>
              <div class="collection__btn">
                {{- 'products.product.explore' | t -}}
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="side_arrow">
                  <path d="M6.65065 1.68698L7.41938 0.918246C7.7688 0.603765 8.29294 0.603765 8.60742 0.918246L15.4212 7.69706C15.7357 8.04648 15.7357 8.57061 15.4212 8.88509L8.60742 15.6988C8.29294 16.0133 7.7688 16.0133 7.41938 15.6988L6.65065 14.9301C6.33617 14.5807 6.33617 14.0566 6.65065 13.7071L10.8787 9.68877H0.850226C0.361033 9.68877 0.01161 9.33934 0.01161 8.85015V7.732C0.01161 7.27775 0.361033 6.89338 0.850226 6.89338H10.8787L6.65065 2.90996C6.33617 2.56053 6.30123 2.0364 6.65065 1.68698Z" fill="white"></path>
                </svg>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if collection.metafields.custom.collection_top_banner.value != blank %}
      {% assign mainCollectionBanner = collection.metafields.custom.collection_top_banner.value %}
      <div class="main-collection_top-banner">
        <div class="banner-img">
          <img src="{{ mainCollectionBanner | img_url: 'master' }}" height="100%" width="100%">
        </div>
      </div>
    {% endif %}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          <div class="collection-hero__title">
            <h1 class="collection__title">{{ collection.title }}</h1>
            {% if collection.description != blank %}<div class="collection_desc">{{ collection.description }}</div>{% endif %}
          </div>
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                
                {% if forloop.index == 2 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 1,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 12 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 2,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 18 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                    {% render 'card-video',
                      collection_videos: collection_videos,
                      collection_videos_index: 3,
                      section_id: section.id
                    %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 28 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 4,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 34 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 5,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 44 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 6,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% elsif forloop.index == 44 %}
                  {% if collection_videos %}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-video',
                        collection_videos: collection_videos,
                        collection_videos_index: 7,
                        section_id: section.id
                      %}
                    </li>
                  {% endif %}
                {% else %}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      enable_shop_now_btn: section.settings.shop_now_btn,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      skip_styles: skip_card_product_styles,
                      quick_add: section.settings.quick_add,
                      section_id: section.id,
                      pos: forloop.index,
                      handle: collection.handle
                    %}
                  </li>
                {% endif %}
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    window.dataLayer = window.dataLayer || [];
    var pos;
    var thisCollection = [];
     {% for prod in collections[collection.handle].products %}
       var price = {{ prod.price | json }} / 100;
      var tPrice = price.toFixed(2);
      pos =  {{ forloop.index }};
       {% assign category = prod.title | split: " " %}
       {% if prod.type == "Watches" %}
        thisCollection.push({
          item_name: '{{ prod.title }}',
          item_id: '{{ prod.id }}',
          currency: '{{ cart.currency.iso_code }}',
          price: tPrice,
          {% if prod.metafields.global.movement_type %}movement_type: '{{ prod.metafields.global.movement_type }}',{% endif %}
          {% if prod.metafields.global.dial_color %}dial_color: '{{ prod.metafields.global.dial_color }}',{% endif %}
          {% if prod.metafields.global.water_resistance %}waterproof_level: '{{ prod.metafields.global.water_resistance }}',{% endif %}
          {% if prod.metafields.global.case_material %}case_material: '{{ prod.metafields.global.case_material }}',{% endif %}
          {% if prod.metafields.global.case_diameter %}case_diameter: '{{ prod.metafields.global.case_diameter }}',{% endif %}
          {% if prod.metafields.global.Crystal %}crystal: '{{ prod.metafields.global.Crystal }}',{% endif %}
          {% if prod.metafields.global.strap_color %}strap_color: '{{ prod.metafields.global.strap_color }}',{% endif %}
          {% if prod.metafields.global.strap_material %}strap_material: '{{ prod.metafields.global.strap_material }}',{% endif %}
          item_category: '{{ prod.type }}',
          item_category2: '{{ category[0] }}',
          item_category3: '{{ prod.metafields.custom.aviation_type }}',
          sale_status: '{% if prod.compare_at_price > prod.price %}{% for tag in prod.tags %}{% if tag == "outlet" %}sale-outlet{% elsif tag == "not_outlet" %}sale{% endif %}{% endfor %}{% else %}none{% endif %}',
          item_list_name: '{{ collection.handle }}',
          index: pos,
          quantity: 1
        })
      {% endif %}
      {% if prod.type == "Straps" %}
        {% if prod.available %}
          thisCollection.push({
              item_name: '{{ prod.title }}',
              item_id: '{{ prod.id }}',
              currency: '{{ cart.currency.iso_code }}',
              price: tPrice,
              {% if prod.metafields.global.strap_color %}strap_color: '{{ prod.metafields.global.strap_color }}',{% endif %}
              {% if prod.metafields.global.strap_material %}strap_material: '{{ prod.metafields.global.strap_material }}',{% endif %}
              lugs_width: '{% if prod.type contains "Straps" %}{% for tag in prod.tags %}{% if tag contains "lugs" %}{{tag | replace:"lugs_","" | append:"mm"}}{% endif %}{% endfor %}{% endif %}',
              sale_status: '{% if prod.compare_at_price > prod.price %}{% for tag in prod.tags %}{% if tag == "outlet" %}sale-outlet{% elsif tag == "not_outlet" %}sale{% endif %}{% endfor %}{% else %}none{% endif %}',
              item_list_name: '{{ collection.handle }}',
              index: pos,
              quantity: 1
            })
          {% endif %}
      {% endif %}
    {% endfor %}

    Shopify.analytics.publish("view_item_list", {
      event: 'view_item_list',
      ecommerce: { items: thisCollection }
    });
  })
</script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "shop_now_btn",
      "default": true,
      "label": "Enable Shop Now Button"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
