{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.60 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.60 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="specs__block" class="section--specs-block section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="header-section">
      {% if product.metafields.custom.watch_specs != blank %}
        <div class="heading">{{ product.metafields.custom.watch_specs.value["main_heading"] }}</div>
      {% endif %}
    </div>
    <div class="specs-blocks">
      {% if product.metafields.custom.watch_specs != blank %}
        <div class="specs-blocks-item">
          {% if section.settings.specs_title_1 %}<div class="specs-block-title">{{ section.settings.specs_title_1 }}</div>{% endif %}
          {% if product.metafields.custom.watch_specs.value["case_diameter"] != blank or product.metafields.custom.watch_specs.value["case_diameter_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["case_diameter"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["case_diameter_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["case_thickness"] != blank or product.metafields.custom.watch_specs.value["case_thickness_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["case_thickness"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["case_thickness_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["water_resistance"] != blank or product.metafields.custom.watch_specs.value["water_resistance_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["water_resistance"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["water_resistance_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["case_material"] != blank or product.metafields.custom.watch_specs.value["case_material_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["case_material"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["case_material_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["crystal"] != blank or product.metafields.custom.watch_specs.value["crystal_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["crystal"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["crystal_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["back"] != blank or product.metafields.custom.watch_specs.value["back_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["back"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["back_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["crystal_diameter"] != blank or product.metafields.custom.watch_specs.value["crystal_diameter_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["crystal_diameter"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["crystal_diameter_value"] }}</div>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if product.metafields.custom.watch_strap != blank or product.metafields.custom.watch_specs != blank %}
        <div class="specs-blocks-item">
          {% if product.metafields.custom.watch_strap != blank %}
            <div class="specs-blocks-item_top">
              {% if section.settings.specs_title_2 %}<div class="specs-block-title">{{ section.settings.specs_title_2 }}</div>{% endif %}
              {% if product.metafields.custom.watch_strap.value["strap_color"] != blank or product.metafields.custom.watch_strap.value["strap_color_value"] != blank %} 
                <div class="specs-item">
                  <div class="specs-item-data">{{ product.metafields.custom.watch_strap.value["strap_color"] }}</div>
                  <div class="specs-item-value">{{ product.metafields.custom.watch_strap.value["strap_color_value"] }}</div>
                </div>
              {% endif %}
              {% if product.metafields.custom.watch_strap.value["lugs_width"] != blank or product.metafields.custom.watch_strap.value["lugs_width_value"] != blank %} 
                <div class="specs-item">
                  <div class="specs-item-data">{{ product.metafields.custom.watch_strap.value["lugs_width"] }}</div>
                  <div class="specs-item-value">{{ product.metafields.custom.watch_strap.value["lugs_width_value"] }}</div>
                </div>
              {% endif %}
              {% if product.metafields.custom.watch_strap.value["strap_material"] != blank or product.metafields.custom.watch_strap.value["strap_material_value"] != blank %} 
                <div class="specs-item">
                  <div class="specs-item-data">{{ product.metafields.custom.watch_strap.value["strap_material"] }}</div>
                  <div class="specs-item-value">{{ product.metafields.custom.watch_strap.value["strap_material_value"] }}</div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs != blank %}
            <div class="specs-blocks-item_bottom">
              {% if section.settings.specs_title_4 %}<div class="specs-block-title">{{ section.settings.specs_title_4 }}</div>{% endif %}
              {% if product.metafields.custom.watch_specs.value["weight"] != blank or product.metafields.custom.watch_specs.value["weight_value"] != blank %} 
                <div class="specs-item">
                  <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["weight"] }}</div>
                  <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["weight_value"] }}</div>
                </div>
              {% endif %}
              {% assign current_variant = product.selected_or_first_available_variant %}
              <div class="specs-item">
                <div class="specs-item-data">SKU</div>
                <div class="specs-item-value">{{ current_variant.sku }}</div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if product.metafields.global.dial_color != blank or product.metafields.custom.watch_specs != blank %}
        <div class="specs-blocks-item">
          {% if section.settings.specs_title_3 %}<div class="specs-block-title">{{ section.settings.specs_title_3 }}</div>{% endif %}
          {% if product.metafields.global.dial_color != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">Color</div>
              <div class="specs-item-value">{{ product.metafields.global.dial_color }}</div>
            </div>
          {% endif %}
          
          {% if product.metafields.custom.watch_specs.value["battery"] != blank or product.metafields.custom.watch_specs.value["battery_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["battery"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["battery_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["movement"] != blank or product.metafields.custom.watch_specs.value["movement_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["movement"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["movement_value"] }}</div>
            </div>
          {% endif %}
          {% if product.metafields.custom.watch_specs.value["other"] != blank or product.metafields.custom.watch_specs.value["other_value"] != blank %} 
            <div class="specs-item">
              <div class="specs-item-data">{{ product.metafields.custom.watch_specs.value["other"] }}</div>
              <div class="specs-item-value">{{ product.metafields.custom.watch_specs.value["other_value"] }}</div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Specification Block",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "specs_title_1",
      "label": "Case Title",
      "default": "CASE"
    },
    {
      "type": "text",
      "id": "specs_title_2",
      "label": "Strap Title",
      "default": "STRAP"
    },
    {
      "type": "text",
      "id": "specs_title_3",
      "label": "Dial & Hands Title",
      "default": "DIAL & HANDS"
    },
    {
      "type": "text",
      "id": "specs_title_4",
      "label": "Other Title",
      "default": "OTHER"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Specification Block"
    }
  ]
}
{% endschema %}
